<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="App.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Osasto 41</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>

    <!-- Menu -->
<div class="navbar" id="navbar">
  <a class="links" href="/"><img class="menulogo" src="https://sambadiary.com/wp-content/uploads/2019/03/shop-btn.png"></a>
  <% if (user) { %>
  <a class="userthings" href="/profile"><%= user.name %></a>
  <a class="userthings" href="/logout">Log out</a>
  <% } %>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

    <!-- Content -->
    <div style="padding-top:100px;"class="container">
    	<div class = "row">
        <div class="col-md-8">
          <!--Insert something cool here! -->
        </div>
    		<div class="col-md-4">
          <h1>Your samba data</h1>
          <table class="table table-striped"> 
            <tbody>
            <tr>
        <td>Name</td>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= user.email %></td>
      </tr>
    </tbody>
  </table>
    			
    		</div>
    	</div>
    </div>
  </body>
  <script>

  console.log("<%= user.name %>");

  document.getElementById("navbar").style.top = "0px";

function myFunction() {
  var x = document.getElementById("navbar");
  if (x.className === "navbar") {
    x.className += " responsive";
  } else {
    x.className = "navbar";
  }
} 

$("#logoutbutton").click(function(){
  window.location = "/logout";
});

  </script>
</html>